@import '~bootstrap/scss/bootstrap';

@import './leaderboard/index.scss';

@import './admin/contact/offcanvas';

html {
    body {
        position: relative;
        min-width: 100vw;
        min-height: 100vh;
        background: #FFFFFF;
    }
}