#table-container {
    tbody {
        position: relative;

        .id-style {
            margin: auto;
            padding: 4px;
            width: 25px;
            height: 25px;
            left: 5px;
            top: auto;
            color: white;
            border-radius: 4px;
            background: #739AFF;
        }
    }
}